.properties {
    display: grid;
    grid-template-columns: 1fr;
    box-sizing: border-box;
    padding: 6em 0;
}

.loader {
    font-size: 10px;
    margin: 50px auto;
    color: transparent;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #939393;
    background: -moz-linear-gradient(left, #939393 10%, rgba(147,147,147, 0) 42%);
    background: -webkit-linear-gradient(left, #939393 10%, rgba(147,147,147, 0) 42%);
    background: -o-linear-gradient(left, #939393 10%, rgba(147,147,147, 0) 42%);
    background: -ms-linear-gradient(left, #939393 10%, rgba(147,147,147, 0) 42%);
    background: linear-gradient(to right, #939393 10%, rgba(147,147,147, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  .loader:before {
    width: 50%;
    height: 50%;
    background: #939393;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }
  .loader:after {
    background: white;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  @-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }


.panel {
    border: 1px solid rgb(221, 221, 221);
    justify-self: center;
    margin: 1em 0;
    cursor: pointer;
    img {
        width: 100%;
    }
    .panel__text {
        padding: 0 1em;
        h2 {
            margin: .5em 0 .4em 0;
            font-family: 'Playfair Display', serif;
        }
        h3, h5 {
            font-weight: 400;
            color: $light-grey;
            margin: 0;
        }
        i {
            padding-left: .2em;
            font-size: 1em;
            color: rgb(202, 200, 200);
        }
    }
    .panel__text__details {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 1em 0;
        h3, h5 {
            margin: 0;
        }
        .price {
            h3 {
                color: rgb(187, 164, 61);
                font-size: 1.3em;
            }
        }
    }
}



@media (min-width: $desktop-breakpoint) {
    .properties {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .panel {
        margin: 1em;
    }
}