// colours
$gold: #907145;
$brown: rgba(242, 233, 223, 0.8);
$off-black: #222;
$off-grey: #4c4c4c;
$light-grey: #a2a2a2;
$trans-white: rgba(255, 255, 255, 0.95);


// sizes
$desktop-breakpoint: 62rem;

html {
    font-family: 'Open Sans', sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}


.btn {
    padding: .5em 3em;
    margin: 1em;
    background: rgba(0,0,0,0);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: background-color .5s ease-out;
    -moz-transition: background-color .5s ease-out;
    -o-transition: background-color .5s ease-out;
    transition: background-color .5s ease-out;
    &:hover {
        background-color: white;
        color: $off-grey;
    }
}




.container {
    width: 90%;
    margin: 0 auto;
  }
  
  @media (min-width: $desktop-breakpoint) {
    .container {
      width: 84%;
    }
  }

a {
    text-decoration: none;
    color: inherit;
}