video {
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    object-fit: cover;
}

.video__overlay {
    background: rgba(10,10,10,0.6);
    color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    min-height: 100vh;
    z-index: 10;
    input {
        background: rgba(255, 255, 255, 0.3);
        border: 1px solid white;
        color: white;
        display: inline;
        width: 70%;
        border-radius: 5px;
        padding: .8em;
        text-align: center;
        &::placeholder {
            color: $trans-white;
        }
        &:focus {
            background: rgba(255, 255, 255, 0.8);
            color: $off-grey;
            &::placeholder {
                color: transparent;
            }
        }
    }
    img {
        height: 10em;
        padding-top: 6em;
    }

    h1 {
        font-family: 'Playfair Display', serif;
        font-size: 3em;
        margin: 0;
    }
    p {
        margin: 2em 0;
        padding: 0 2em;
    }
}

.video__container {
    max-height: 100vh;
}


.grey-banner {
    // background: $off-black;
    background: $light-grey;
    .grey-banner__text {
        width: 84%;
        margin: 0 auto;
        text-align: center;
    }
    h1 {
        margin: 0;
        padding: 1em 0;
        color: white;
        
        font-weight: 300;
    }
}


@media (min-width: $desktop-breakpoint) {
    .video__overlay {
        input {
            width: 55%;
        }
    }
    video {
        object-fit: fill;
    }
}